* {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
	box-sizing: border-box;
}

body {
	background: linear-gradient(123deg, green, blue);

}

.card {
	width: 95%;
	max-width: 550px;
	background: linear-gradient(135deg, #00feba, #5b5b5b);
	color: #fff;
	border-radius: 40px;
	padding: 20px 10px;
	margin: 100px auto 0;
	text-align: center;

}

.search {
	width: 94%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 5px;
	height: 60px;
	border-radius: 30px;
	flex: 1;
	font-size: 18px;
}

.search button {
	border: 2px solid green;
	outline: 0;
	background: rgb(192, 186, 170);
	border-radius: 35%;
	font-size: 40px;
	color: #15127c;
	cursor: pointer;
}

.weather img {
	height: 100px;
	width: 100px;
	max-width: 100px;
}

.weather-icon {
	width: 170px;
	margin-top: 30px;

}

.weather h1 {
	font-size: 80px;
	font-weight: 500;
}

.weather h2 {
	font-size: 80px;
	font-weight: 400;
	margin-top: -10px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 50px;

}

.col {
	display: flex;
	align-items: center;
	text-align: left;
}

.col i {
	font-size: 40px;
	margin-right: 10px;

}

.humidity,
.wind {
	font-size: 28px;
	margin-top: -6px;
}

.boxs img{
	height: 100px;
	width: 100px;
	max-width: 100px;
	text-align: center;

}

.boxs {
	margin-left: 10px;
	text-align: center;
	display: flex;
	height: 280px;
	align-items:center ;
    justify-items: center;

}


.box2 img{
	height: 100px;
	width: 100px;
	max-width: 100px;
	text-align: center;

}

.box2 {
	margin-left: 10px;
	text-align: center;
	display: flex;
	height: 280px;
	align-items:center ;
    justify-items: center;

}

.boxes1 img{
	height: 100px;
	width: 100px;
	max-width: 100px;
	text-align: center;

}
.boxes1 {
	margin-left: 10px;
	text-align: center;
	display: flex;
	height: 280px;
	align-items:center ;
    justify-items: center;

}

.box {
	border: 2px solid goldenrod;
	border-radius: 10px;
	background-color: #ebfffc;
	justify-content: center;
}

h4 {
	color: aqua;
	margin-left: 10px;

}

h4:hover {
	outline-color: #15127c;
	outline: 2px solid blue;
	color: aquamarine;
	text-decoration: overline;

}

@media(max-width:600px){
	html{
	  font-size: 80%;
	}
  }
  @media(max-width:600px){
	.box{
	  height: 20rem;
	  width: 10rem;
	}
  }
  